<div class="col-xl-2" *ngFor="let item of item_list">
<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success">
						<div class="m-portlet__body">
							<div class="m-widget26">
								<div class="m-widget26__number">
									{{item.price}}
									<small>
										All Transactions
									</small>
								</div>
								<div class="">
							   <input type="button" class="btn btn-sm btn-outline-primary"  value="cart it" (click)="add_to_cart(item)" />
							    <input type="button" class="btn btn-sm btn-outline-primary"  value="Remove it" (click)="rm_from_cart(item)" />
								</div>
							</div>
						</div>
					</div>
</div>
</div> <!-- col-xl-2 -->