<div class="col-xl-2 col-md-2 col-sm-12" *ngFor="let item_obj of items">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="m-portlet m-portlet--half-height m-portlet--border-bottom-success">
            <div class="m-portlet__body" style="padding:1rem 1rem;">
                <!--  <app-item-list></app-item-list>-->
                <div class="vote">
                    <a href="#" class="btn-danger"><i class="la la-arrow-circle-o-up"></i></a>
                    <a href="#" class="btn-success"><i class="la la-arrow-circle-o-down"></i></a>
                </div>
                <div class="m-widget">
                    <div class="m-widget__number">
                        ${{item_obj.id}}
                        <small>{{item_obj.title}}  </small>
                    </div>
                    <div class="m-widget__img">
                        <img src="../../../../assets/app/media/img/users/300_12.jpg" />
                    </div>
                    <div class="m-widget__action">
                        <input type="button" value="Add to cart" class="btn btn-outline-success btn-sm" (click)="addToCart(item_obj)" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>