<header class="no-popunder">
    <div class="top-header">
        <div class="width-wrap">
            <div class="logo-section">
                <a routerLink="/index" class="m-brand__logo-wrapper logo">
                    <img alt="" src="./assets/demo/demo5/media/img/logo/logo.png" />
                    <span class="beta-hint">beta</span>
                </a>
                <meta itemprop="name" content="products">

            </div>
            <div class="search-section">
                <div class="search-container">
                    <form action="#" method="get" class="xh-dropdown popup positioned">
                        <input class="search-text" autocomplete="off" type="text" maxlength="120" placeholder="Search..." name="q" value="" eid="2">

                        <div class="search-submit-container">
                            <input class="search-submit" type="submit" value="">
                        </div>
                        <a class="search-choose trigger" data-scope="">
                            <span class="search-scope-text">Link-active</span>
                        </a>
                        <div class="search-menu dropdown position-right">
                            <a class="item" data-scope="">Link-1</a>
                            <a class="item " data-scope="">Link-2</a>
                            <a class="item " data-scope="">Link-3</a>
                        </div>
                    </form>
                    <div class="search-suggestions">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login-section">
                <div class="xh-dropdown no-popunder round">
                    <a class="popup login-button align-left trigger xh-dropdown">
    Login
</a>
                    <a class="xh-button last large red align-right tr sign-up-button" href="#">Sign up</a>
                    <div class="pop-login dropdown position-right">
                        <form action="/login.php" method="post">
                            <div>
                                <input class="input-text" name="username" type="text" placeholder="Username / Email">
                            </div>
                            <div>
                                <input class="input-text" name="password" type="password" placeholder="Password">
                            </div>
                            <div class="captcha-container">
                                <div class="captcha" id="pop-captcha" data-max-fail-count="5" data-fail-count="0" data-captcha-id="captcha_1" data-captcha-key="true" data-init-captcha-key="true"></div>
                            </div>
                            <input class="xh-button red large" type="submit" value="Log in">

                            <div class="bottom-links">
                                <div class="checkbox-container">
                                    <input name="remember" class="checkbox" type="checkbox" id="login-popup-checkbox" checked="checked">
                                    <label for="login-popup-checkbox">Stay logged in</label>
                                </div>
                                <a class="forgot-link" href="#">Forgot password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="top-menu">
        <div class="width-wrap clearfix-after">
            <ul>
                <li class="has-child xh-dropdown delay pop-menu-video current">
                    <a href="#" class="trigger on-hover">Link-avtive</a>

                    <ul class="dropdown">
                        <li>
                            <a href="#">
                                <i class="xh-icon beta-sidebar-like cobalt"></i> Best </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="xh-icon beta-sidebar-magicwand cobalt"></i> Recommended </a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="#">
                Pakistani                    <i class="xh-flag pk"></i>
            </a>
                        </li>
                        <li>
                            <a href="#">aa</a>
                        </li>
                        <li>
                            <a href="#">two   </a>
                        </li>
                        <li>
                            <a href="#">one   </a>
                        </li>
                        <li class="separator"></li>
                        <li><a href="#">Categories<i class="xh-icon arrow-right"></i></a></li>
                        <li><a href="#">All<i class="xh-icon arrow-right"></i></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" target="_blank">Linl-avl    </a>
                </li>
                <li class="has-child xh-dropdown delay pop-menu-photo">
                    <a href="#" class="trigger on-hover">zero</a>

                    <ul class="dropdown">
                        <li><a href="#">one</a></li>
                        <li><a href="#">two</a></li>
                        <li><a href="#">three</a></li>
                        <li><a href="#">four</a></li>
                        <li><a href="#">five</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">one</a>
                </li>
                <li class="has-child xh-dropdown delay pop-menu-story">
                    <a href="#" class="trigger on-hover">two</a>
                    <ul class="dropdown">
                        <li><a href="#">first</a></li>
                        <li><a href="#">second</a></li>
                        <li><a href="#">third</a></li>

                    </ul>
                </li>
                <li><a href="#" target="_blank" data-ajax="" eid="7">Link-avl</a></li>
            </ul>

            <div class="theme-section xh-dropdown delay">
                <div class="active-theme trigger on-hover line">
                    <i class="xh-icon sun white hover to-gray"></i>
                </div>
                <ul class="dropdown position-right">
                    <li class="with-icon">
                        <a class="item" data-theme="light" eid="4">
                            <i class="xh-icon sun cobalt"></i> Day Mode </a>
                    </li>
                    <li class="with-icon">
                        <a class="item" data-theme="dark" eid="3">
                            <i class="la la-upload"></i> Night Mode </a>
                    </li>
                </ul>
            </div>

            <div class="upload-section-menu xh-dropdown delay popup">
                <a href="#" class="xh-button line large icon-left">
                    <i class="fa fa-cloud-upload"></i> Upload </a>
            </div>
        </div>
    </nav>

</header>